
<div class="jumbotron" style="background:#4e5d6c;border-radius:1px;">
  <h1>Hello, Administrator!</h1>
  <p>Intorduction sayings here....!!</p>
  <button style="float:left!important; border-radius:1px; background:#df691a;border:none;"class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Administration Guidelines
</button>
<br/><br/><br/>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:#000;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">BACKGROUND OF STUDENTS’ EVALUATION</h4>
      </div>
      <div class="modal-body">
       		The students’ evaluation reveals how the students perceive their teachers within the classroom.
		This aims to provide feedback, from the consumers’ point of view, to the heads and faculty
		members, which is vital in evaluating the perceived effectiveness of classroom instruction.
		The Students’ Evaluation Form (Form S), which is composed of thirty seven (37) items, is
		distributed to the students before the end of the semester/term for students to evaluate their
		teachers’ performance inside the classroom.
      </div>
      
      <div class="modal-header">
        
        <h4 class="modal-title" id="myModalLabel">Format</h4>
      </div>
      <div class="modal-body">
      		The current Students’ Evaluation questionnaire is divided into two (2) main parts: 1) the
		instructor’s Professional Responsibilities; and 2) the instructor’s Instructional Responsibilities
		Part 1. Professional Responsibilities - composed of nine (9) items, focusing on the faculty member’s
		attitude as a teacher. The faculty member is evaluated based on his/her interaction with the
		students, his/her attitude towards the teaching profession, and his/her adherence to the demand
		of continuing education and enthusiasm for learning.
		Part 2. Instructional Responsibilities - composed of twenty eight (28) items, focusing on the
		students’ evaluation of the faculty member inside the classroom. The faculty member is evaluated
		based on his/her effectiveness as a teacher in the following aspects: (1) Prerequisites of Effective
		Teaching; (2) Classroom Management and Organization; (3) Organizing for Instruction; (4)
		Implementing Instruction; and (5) Monitoring Student Progress and Potential.
      </div>


      <div class="modal-header">
        
        <h4 class="modal-title" id="myModalLabel">Administration Guidelines</h4>
      </div>
      <div class="modal-body">
      		<ol>
      			<li> A Students’ Evaluation must be conducted during the summative evaluation period. The
students’ evaluation results for a faculty member shall be incorporated in the final result of
the Summative Evaluation.
      			</li>

      			<li>
      				A coding scheme must be used for the Students’ Evaluation to confidentially identify the
faculty members. This is to ensure confidentiality of the students’ evaluation results should
there be a need to ask assistance for encoding. The Dean/Academic Supervisor may devise
a coding scheme every semester or as necessary.

      			</li>
      			<li>
      				The Students’ Evaluation Answer Sheets to be used must be coded prior to reproduction.
      				
      			</li>
      			<li>
      				During the summative evaluation, the Program Head is assigned by the Dean/Academic
Supervisor as a proctor to administer the students’ evaluation. In cases where the Program
Head is not available, the Dean/Academic Supervisor shall assign the Guidance Counselor as
a proctor.
      				
      			</li>
      			<li>
      				The Dean/Academic Supervisor orients the assigned proctor/s on how to administer
Students’ Evaluation and reiterates the confidentiality of the evaluation materials .
      				
      			</li>
      			<li>
      				
      				The members of the FEC as well as the assigned proctor/s (for students’ evaluation) are
informed of the evaluation schedule of the faculty members that will be evaluated. Forms
and other necessary documents are also distributed at this time.
      			</li>
      		

      		</ol>
      </div>


       <div class="modal-header">
        
        <h4 class="modal-title" id="myModalLabel">Administration Procedures</h4>
      </div>
      <div class="modal-body">
      		<ol>
      			<li>
      				
      				The Students’ Evaluation is administered by the Proctor, who is either the Program Head or
the Guidance Counselor as assigned by the Dean/Academic Supervisor.
      			</li>

      			<li>
      				The Proctor enters the room and introduces himself/herself to the faculty member. In no
case should the visit be a surprise to the faculty member to be evaluated. The Proctor then
gives the faculty member time to put a proper closure to the activity going on. On cue
from the teacher, the Proctor says,
      			</li>
      			<br/>
      			<div class="panel panel-default">
				  <div class="panel-body">
				    Good morning/afternoon/evening, class.
				  </div>
				</div>
				<li>
					With the absence of the faculty member being evaluated, the Proctor explains to the
students the objectives of the evaluation and discusses how the Students’ Evaluation
Answer Sheet will be accomplished and how each item will be scored (based on the scoring
matrix). The Proctor may say to the students:
				</li>
				<br/>

				<div class="panel panel-default">
				  <div class="panel-body">
				    “Today, you will be answering a questionnaire called the Student’s
Evaluation of Instructors. This is a questionnaire which aims to help
improve the quality of teaching. It is also a way of helping the faculty
see how students perceive their instructor - specifically their style and
management of instruction. Some of you have experienced answering the Student’s Evaluation. This
time, I would like you to think back on this course [Give the course code
and description] as you experienced it, how it was taught, and how
well it has met your expectations.
I'm sure that by now you are already familiar with how your instructor
taught the course to your class. Allow yourself a few minutes to reflect
on the course, or review the course outline.
Think particularly of your participation in it. Has the course met your
expectations? Reca ll how the teacher taught it and your particular
satisfactions and dissatisfactions.”
				  </div>
				</div>
				The Proctor is also advised to read the instructions stated in the questionnaire for the
students to clearly grasp the manner on how they would go about the evaluation.
      			<li>
      				At this point the Proctor must ensure that everything is in order. He/She may ask the
students if everything is clear and if they have any concerns and/or questions before they
start with the actual evaluation. The Proctor may say:
      			</li>
      			<br/>

      			<div class="panel panel-default">
				  <div class="panel-body">
				   “Any questions?
						I will now distribute the forms to each of you.
						The questionnaire has 3 pages.
						Are you ready ?”
				  </div>
				</div>
				
				<li>
					The Proctor distributes a copy of the Students’ Evaluation Answer Sheet, to every student
in the class and asks all the students to rate the faculty member using the form. Each
student is given only thirty five (35) minutes to finish the evaluation.
				</li>
      			<li>
      				The Proctor is expected to address all questions and/or clarifications that may be raised by
students in relation to the given evaluation questions/items.
      			</li>

      			<li>
      				As soon as the students are finished, or after thirty five (35) minutes, the Proctor collects
and secures all accomplished forms for submission to the Dean/Academic Supervisor.
      			</li>

      			<li>
      				The Proctor thanks the students for the time they have given to answer the questionnaire.
      			</li>

      			<li>
      				The Proctor returns all the materials used during the evaluation and submits all the
accomplished Students’ Evaluation Answer Sheets to the Dean/Academic Supervisor for
consolidation and recording.
      			</li>
      		</ol>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    
      </div><!--ends modal-footer-->
    </div><!--ends modal-content-->
  </div><!--ends moadl-dialog-->
</div><!--ends modal-->

