       	

        	
<div class="row" style="margin:0 auto;">

<div class="col-lg-6 mobst" style="">

<img src="<?php echo base_url(); ?>/public/images/home-laptop.png" />
<div class="home-title">
          <h2>Faculty Evaluation System</h2>
          <p>a thesis 2016</p>
         </div>


<div class="login_form"> 
         
          <form role="form" action="<?php echo base_url() ?>student/check" method="post">
            <div class="form-group">
              <label for="studentCode">Student Code</label>
              <input type="code" class="form-control" name="code" id="code" placeholder="Enter Code here">
            </div>

            
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div><!--ends login_form-->
<?php if(!empty($error)): ?>
<div class="st-err">
  
     
      <p><?php echo $error ?></p>

  
</div>
<?php endif; ?>
</div>


</div>

