<div class="table-responsive" style="border:1px solid #cccccc;border-radius:5px; padding:15px; ">
			  <table class="table">
			  <h3>List of faculty</h3>
			  <a href="#">
  					<span class="glyphicon glyphicon-plus"></span> Add
			  </a>
				<tr style="background:#428bca;">
					<th>#</th>
					<th>Name</th>
					<th>STI-Campus</th>
					<th>Sy</th>
					<th>Semester</th>
					
					<th>Options</th>
					<th>Results</th>
				</tr>
				
				<tr>
					<td>1</td>
					<td>June Acaylar</td>
					<td>STI-Dipolog</td>
					<td>2013-2014</td>
					<td>2nd Semester</td>

					
					<td><a href="#">Edit</a>- <a href="#">Delete</a></td>
					<td>
						<!-- Single button -->
						<div class="btn-group">
						  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						    View Results <span class="caret"></span>
						  </button>
							  <ul class="dropdown-menu" role="menu">
								    <li><a href="#">Faculty Results</a></li>
								    <li><a href="#">Students Results</a></li>
								    
							  </ul>
						</div>
					</td>
					
				</tr>
				
				<tr>
					<td>2</td>
					<td>June Reyes</td>
					<td>STI-Dipolog</td>
					<td>2013-2014</td>
					<td>2nd Semester</td>
					
					<td><a href="#">Edit</a>- <a href="#">Delete</a></td>
					<td>
						<!-- Single button -->
						<div class="btn-group">
						  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						    View Results <span class="caret"></span>
						  </button>
							  <ul class="dropdown-menu" role="menu">
								    <li><a href="#">Faculty Results</a></li>
								    <li><a href="#">Students Results</a></li>
								    
							  </ul>
						</div>

					</td>
				 </tr>
			  </table>
			</div>