

<form action="<?php echo base_url() ?>evaluation/process" method="post" id="quiz">
  <input type="hidden" name="currentStep" value="3" />
  <input type="hidden" name="uid" value="<?php echo $uid ?>" >
          <div class="form_holder_f2">  
             <center><h1>INSTRUCTIONAL RESPONSIBILITIES</h1></center>
                      <ol>
                      
                          <li>
                          
                              <h3>Does your instructor speak with a modulated voice, clear diction, pronunciation and articulation?</h3>
                              
                                
                                  <input type="hidden" name="answers[0]" value="0" />
                                  <input type="radio" name="answers[0]" id="question-1-answers-A" value="1" />
                                  <label for="question-1-answers-A">Never</label>
                         
                              <br>
                          
                                  <input type="radio" name="answers[0]" id="question-1-answers-B" value="2" />
                                  <label for="question-1-answers-B">Seldom</label>
                
                              <br>
                         
                                  <input type="radio" name="answers[0]" id="question-1-answers-C" value="3" />
                                  <label for="question-1-answers-C">Often</label>
                           
                              <br>
                          
                                  <input type="radio" name="answers[0]" id="question-1-answers-D" value="4" />
                                  <label for="question-1-answers-D">Always</label>
                           
                          
                          </li>
                          
                          <li>
                          
                              <h3>Does your instructor show effective non-verbal communication like facial expressions and gestures?</h3>
                              
               
                                  <input type="hidden" name="answers[1]" value="0" />
                                  <input type="radio" name="answers[1]" id="question-2-answers-A" value="1" />
                                  <label for="question-2-answers-A">Never</label>

                              <br>
                
                                  <input type="radio" name="answers[1]" id="question-2-answers-B" value="2" />
                                  <label for="question-2-answers-B">Seldom</label>
                     
                              <br>
                       
                                  <input type="radio" name="answers[1]" id="question-2-answers-C" value="3" />
                                  <label for="question-2-answers-C">Often</label>
                
                              <br>
               
                                  <input type="radio" name="answers[1]" id="question-2-answers-D" value="4" />
                                  <label for="question-2-answers-D">Always</label>

                          
                          </li>
                          
                          <li>
                          
                              <h3>Does your instructor use badly chosen words such as foul languages, etc.</h3>
                              
                                   <input type="hidden" name="answers[2]" value="0" />
                                  <input type="radio" name="answers[2]" id="question-3-answers-A" value="1" />
                                  <label for="question-3-answers-A">Never</label>
                              
                              <br>
                              
                                  <input type="radio" name="answers[2]" id="question-3-answers-B" value="2" />
                                  <label for="question-3-answers-B">Seldom</label>
                              
                              <br>
                              
                                  <input type="radio" name="answers[2]" id="question-3-answers-C" value="3" />
                                  <label for="question-3-answers-C">Often</label>
                              
                              <br>
                              
                                  <input type="radio" name="answers[2]" id="question-3-answers-D" value="4" />
                                  <label for="question-3-answers-D">Always</label>
                              
                          
                          </li>

                          <li>
                          
                              <h3>How do you rate your instructor's knowledge of the subject matter?</h3>
                              
                                  <input type="hidden" name="answers[3]" value="0" />
                                  <input type="radio" name="answers[3]" id="question-4-answers-A" value="1" />
                                  <label for="question-4-answers-A">Poor; lacks depth and mastery</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[3]" id="question-4-answers-B" value="2" />
                                  <label for="question-4-answers-B">Hardly adequate</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[3]" id="question-4-answers-C" value="3" />
                                  <label for="question-4-answers-C">Good grasp of the subject</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[3]" id="question-4-answers-D" value="4" />
                                  <label for="question-4-answers-D">Excellent! Shows a deep and complete knowledge of
theory and content in subjects of specialization
appropriate for our year level.</label>
                           
                          
                          </li>

                           <li>
                          
                              <h3>Is your instructor updated with new developments in his/her area of expertise?</h3>
                              
                                  
                                  <input type="hidden" name="answers[4]" value="0" />
                                  <input type="radio" name="answers[4]" id="question-5-answers-A" value="1" />
                                  <label for="question-5-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[4]" id="question-5-answers-B" value="2" />
                                  <label for="question-5-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[4]" id="question-5-answers-C" value="3" />
                                  <label for="question-5-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[4]" id="question-5-answers-D" value="4" />
                                  <label for="question-5-answers-D">Always</label>
                           
                          
                          </li>
                          
                          <li>
                          
                              <h3>Does your instructor relate his/her subject to other areas of discipline?</h3>
                              
                              

                                  <input type="hidden" name="answers[5]" value="0" />
                                  <input type="radio" name="answers[5]" id="question-6-answers-A" value="1" />
                                  <label for="question-6-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[5]" id="question-6-answers-B" value="2" />
                                  <label for="question-6-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[5]" id="question-6-answers-C" value="3" />
                                  <label for="question-6-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[5]" id="question-6-answers-D" value="4" />
                                  <label for="question-6-answers-D">Always</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>Does your instructor respond reasonably to discipline problems?</h3>
                              
                                  <input type="hidden" name="answers[6]" value="0" />
                                  <input type="radio" name="answers[6]" id="question-7-answers-A" value="1" />
                                  <label for="question-7-answers-A">not capable</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[6]" id="question-7-answers-B" value="2" />
                                  <label for="question-7-answers-B">capable but with difficulty</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[6]" id="question-7-answers-C" value="3" />
                                  <label for="question-7-answers-C">sometimes capable</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[6]" id="question-7-answers-D" value="4" />
                                  <label for="question-7-answers-D">very capable</label>
                           
                          
                          </li>
                          <li>
                          
                              <h3>Does your instructor clearly set appropriate instructions and expectations to the class, and firmly
implements such instructions?</h3>
                              
                                  <input type="hidden" name="answers[7]" value="0" />
                                  <input type="radio" name="answers[7]" id="question-8-answers-A" value="1" />
                                  <label for="question-8-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[7]" id="question-8-answers-B" value="2" />
                                  <label for="question-8-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[7]" id="question-8-answers-C" value="3" />
                                  <label for="question-8-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[7]" id="question-8-answers-D" value="4" />
                                  <label for="question-8-answers-D">Always</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>How would you describe your classroom set-up?</h3>
                              
                                  <input type="hidden" name="answers[8]" value="0" />
                                  <input type="radio" name="answers[8]" id="question-9-answers-A" value="1" />
                                  <label for="question-9-answers-A">very dull</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[8]" id="question-9-answers-B" value="2" />
                                  <label for="question-9-answers-B">dull</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[8]" id="question-9-answers-C" value="3" />
                                  <label for="question-9-answers-C">pleasant, conducive to learning</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[8]" id="question-9-answers-D" value="4" />
                                  <label for="question-9-answers-D">very pleasant and conducive for learning</label>
                           
                          
                          </li>

                           <li>
                          
                              <h3>Are the materials used in class organized and available?</h3>
                              
                                  <input type="hidden" name="answers[9]" value="0" />
                                  <input type="radio" name="answers[9]" id="question-10-answers-A" value="1" />
                                  <label for="question-10-answers-A">No, the materials are disorganized and unavailable all the time.</label>
                             
                              
                              <br>
                                  <input type="radio" name="answers[9]" id="question-10-answers-B" value="2" />
                                  <label for="question-10-answers-B">No, the materials are disorganized most of the time and are not always readily available.</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[9]" id="question-10-answers-C" value="3" />
                                  <label for="question-10-answers-C">Yes, the materials are quite systematic most of the time and most are available</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[9]" id="question-10-answers-D" value="4" />
                                  <label for="question-10-answers-D">Yes, the materials are very systematic and available all the time.</label>
                           
                          
                          </li>

                           <li>
                          
                              <h3>Does your instructor check the attendance and punctuality of the students?</h3>
                              
                                   <input type="hidden" name="answers[10]" value="0" />
                                  <input type="radio" name="answers[10]" id="question-11-answers-A" value="1" />
                                  <label for="question-11-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[10]" id="question-11-answers-B" value="2" />
                                  <label for="question-11-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[10]" id="question-11-answers-C" value="3" />
                                  <label for="question-11-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[10]" id="question-11-answers-D" value="4" />
                                  <label for="question-11-answers-D">Always</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>Does your instructor maintain classroom discipline?</h3>
                              
                                  <input type="hidden" name="answers[11]" value="0" />
                                  <input type="radio" name="answers[11]" id="question-12-answers-A" value="1" />
                                  <label for="question-12-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[11]" id="question-12-answers-B" value="2" />
                                  <label for="question-12-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[11]" id="question-12-answers-C" value="3" />
                                  <label for="question-12-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[11]" id="question-12-answers-D" value="4" />
                                  <label for="question-12-answers-D">Always</label>
                           
                          
                          </li>

                           <li>
                          
                              <h3>Does your instructor use his/her time in class productively?</h3>
                              
                                  <input type="hidden" name="answers[12]" value="0" />
                                  <input type="radio" name="answers[12]" id="question-13-answers-A" value="1" />
                                  <label for="question-13-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[12]" id="question-13-answers-B" value="2" />
                                  <label for="question-13-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[12]" id="question-13-answers-C" value="3" />
                                  <label for="question-13-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[12]" id="question-13-answers-D" value="4" />
                                  <label for="question-13-answers-D">Always</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>Does your instructor come to class prepared and ready to teach?</h3>
                              
                                  <input type="hidden" name="answers[13]" value="0" />
                                  <input type="radio" name="answers[13]" id="question-14-answers-A" value="1" />
                                  <label for="question-14-answers-A">No, he/she comes to class unprepared and not ready to teach all the time</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[13]" id="question-14-answers-B" value="2" />
                                  <label for="question-14-answers-B">No, he/she comes to class unprepared, and most of the time not ready to teach.</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[13]" id="question-14-answers-C" value="3" />
                                  <label for="question-14-answers-C">Yes, he/she comes to class prepared and ready to teach most of the time.</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[13]" id="question-14-answers-D" value="4" />
                                  <label for="question-14-answers-D">Yes, he/she comes to class prepared and ready to teach all the time.</label>
                           
                          
                          </li>

                           <li>
                          
                              <h3>Does your instructor implement instructional goals suitable to your learning needs?</h3>
                              
                                  <input type="hidden" name="answers[14]" value="0" />
                                  <input type="radio" name="answers[14]" id="question-15-answers-A" value="1" />
                                  <label for="question-15-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[14]" id="question-15-answers-B" value="2" />
                                  <label for="question-15-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[14]" id="question-15-answers-C" value="3" />
                                  <label for="question-15-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[14]" id="question-15-answers-D" value="4" />
                                  <label for="question-15-answers-D">Always</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>Does your instructor emphasize the connection of the topics being discussed to your personal
improvement, future profession, and your life as a whole?</h3>
                              

                                  <input type="hidden" name="answers[15]" value="0" />
                                  <input type="radio" name="answers[15]" id="question-16-answers-A" value="1" />
                                  <label for="question-16-answers-A">No, not at all</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[15]" id="question-16-answers-B" value="2" />
                                  <label for="question-16-answers-B">Yes, but not too clearly</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[15]" id="question-16-answers-C" value="3" />
                                  <label for="question-16-answers-C">Yes, very clearly</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[15]" id="question-16-answers-D" value="4" />
                                  <label for="question-16-answers-D">Yes, very clearly and relevantly</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>Does your instructor use technology-based resources (e.g. PowerPoint presentations, etc.) in the
classroom?</h3>
                              
                                  <input type="hidden" name="answers[16]" value="0" />
                                  <input type="radio" name="answers[16]" id="question-17-answers-A" value="1" />
                                  <label for="question-17-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[16]" id="question-17-answers-B" value="2" />
                                  <label for="question-17-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[16]" id="question-17-answers-C" value="3" />
                                  <label for="question-17-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[16]" id="question-17-answers-D" value="4" />
                                  <label for="question-17-answers-D">Always</label>
                           
                          
                          </li>

                            <li>
                          
                              <h3>Can you easily approach your instructor for questions and clarifications about your course?</h3>
                              
                              
                                  <input type="hidden" name="answers[17]" value="0" />
                                  <input type="radio" name="answers[17]" id="question-18-answers-A" value="1" />
                                  <label for="question-18-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[17]" id="question-18-answers-B" value="2" />
                                  <label for="question-18-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[17]" id="question-18-answers-C" value="3" />
                                  <label for="question-18-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[17]" id="question-18-answers-D" value="4" />
                                  <label for="question-18-answers-D">Always</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>Does your instructor use other appropriate instructional materials aside from the prescribed
reference materials?</h3>
                              
                                  <input type="hidden" name="answers[18]" value="0" />
                                  <input type="radio" name="answers[18]" id="question-19-answers-A" value="1" />
                                  <label for="question-19-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[18]" id="question-19-answers-B" value="2" />
                                  <label for="question-19-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[18]" id="question-19-answers-C" value="3" />
                                  <label for="question-19-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[18]" id="question-19-answers-D" value="4" />
                                  <label for="question-19-answers-D">Always</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>Does your instructor adjust his/her teaching approaches depending on your and your classmates
varying needs and abilities?</h3>
                              
                                  <input type="hidden" name="answers[19]" value="0" />
                                  <input type="radio" name="answers[19]" id="question-20-answers-A" value="1" />
                                  <label for="question-20-answers-A">No, he's insensitive and only sticks to one approach</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[19]" id="question-20-answers-B" value="2" />
                                  <label for="question-20-answers-B">Yes, but he/she seldom does it.</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[19]" id="question-20-answers-C" value="3" />
                                  <label for="question-20-answers-C">Yes, he/she is very flexible.</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[19]" id="question-20-answers-D" value="4" />
                                  <label for="question-20-answers-D">Yes, he/she is very flexible and
sensitive to our needs.</label>
                           
                          
                          </li>

                            <li>
                          
                              <h3>Does your instructor explain the different theories and concepts of the course clearly?</h3>
                              
                              

                                  <input type="hidden" name="answers[20]" value="0" />
                                  <input type="radio" name="answers[20]" id="question-21-answers-A" value="1" />
                                  <label for="question-21-answers-A">Poorly!</label>
                             <br>
                              
                              
                                  <input type="radio" name="answers[20]" id="question-21-answers-B" value="2" />
                                  <label for="question-21-answers-B">Not as good as I expected!</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[20]" id="question-21-answers-C" value="3" />
                                  <label for="question-21-answers-C">Better than I expected!</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[20]" id="question-21-answers-D" value="4" />
                                  <label for="question-21-answers-D">Excellently!</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>Does your instructor ask logical, purposeful, and thought-provoking questions?</h3>
                              

                                  <input type="hidden" name="answers[21]" value="0" />
                              
                                  <input type="radio" name="answers[21]" id="question-22-answers-A" value="1" />
                                  <label for="question-22-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[21]" id="question-22-answers-B" value="2" />
                                  <label for="question-22-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[21]" id="question-22-answers-C" value="3" />
                                  <label for="question-22-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[21]" id="question-22-answers-D" value="4" />
                                  <label for="question-22-answers-D">Always</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>How would you rate your instructor's ability to encourage you and your classmates to participate in
classroom discussions? (e.g. by asking mentally stimulating questions)</h3>
                              
                              

                                  <input type="hidden" name="answers[22]" value="0" />
                                  <input type="radio" name="answers[22]" id="question-23-answers-A" value="1" />
                                  <label for="question-23-answers-A">poor</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[22]" id="question-23-answers-B" value="2" />
                                  <label for="question-23-answers-B">below average</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[22]" id="question-23-answers-C" value="3" />
                                  <label for="question-23-answers-C">above average</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[22]" id="question-23-answers-D" value="4" />
                                  <label for="question-23-answers-D">excellent</label>
                           
                          
                          </li>

                           <li>
                          
                              <h3>Does your instructor give practical and challenging assignments? If yes, was he/she able to record
it?</h3>
                              
                              

                              <input type="hidden" name="answers[23]" value="0" />
                                  <input type="radio" name="answers[23]" id="question-24-answers-A" value="1" />
                                  <label for="question-24-answers-A">No, he/she doesn't give assignments.</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[23]" id="question-24-answers-B" value="2" />
                                  <label for="question-24-answers-B">Yes, he/she sometimes gives assignments but doesn't record them.</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[23]" id="question-24-answers-C" value="3" />
                                  <label for="question-24-answers-C">Yes, he/she always gives assignments but does not record them all the time.</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[23]" id="question-24-answers-D" value="4" />
                                  <label for="question-24-answers-D">Yes, he/she always gives assignments and records them all the time.</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>How would you rate your instructor's effectiveness in facilitating quizzes and examinations?</h3>
                              
                                  <input type="hidden" name="answers[24]" value="0" />
                                  <input type="radio" name="answers[24]" id="question-25-answers-A" value="1" />
                                  <label for="question-25-answers-A">Poor. Cheating is rampant in class.</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[24]" id="question-25-answers-B" value="2" />
                                  <label for="question-25-answers-B">Below average. He/She warns students about cheating but does not seem to mind if they do.</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[24]" id="question-25-answers-C" value="3" />
                                  <label for="question-25-answers-C">Above average. He/She generally “sees to” it that cheating is at its minimum.</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[24]" id="question-25-answers-D" value="4" />
                                  <label for="question-25-answers-D">Excellent! He/She always sees to it that every student does his/her own work at all times.</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>Does your instructor return your corrected examinations, quizzes, exercises, case studies,
researches, etc. on time?</h3>
                              
                              
                                  <input type="hidden" name="answers[25]" value="0" />
                                  <input type="radio" name="answers[25]" id="question-26-answers-A" value="1" />
                                  <label for="question-26-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[25]" id="question-26-answers-B" value="2" />
                                  <label for="question-26-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[25]" id="question-26-answers-C" value="3" />
                                  <label for="question-26-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[25]" id="question-26-answers-D" value="4" />
                                  <label for="question-26-answers-D">Always</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>Does your instructor give appropriate feed back to students, who commit mistakes, without
embarrassing them?</h3>
                              
                              
                                   <input type="hidden" name="answers[26]" value="0" />
                                  <input type="radio" name="answers[26]" id="question-27-answers-A" value="1" />
                                  <label for="question-27-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[26]" id="question-27-answers-B" value="2" />
                                  <label for="question-27-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[26]" id="question-27-answers-C" value="3" />
                                  <label for="question-27-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[26]" id="question-27-answers-D" value="4" />
                                  <label for="question-27-answers-D">Always</label>
                           
                          
                          </li>

                          <li>
                          
                              <h3>Does your instructor provide intervention/remediation/consultation to at-risk students?</h3>
                              
                                  <input type="hidden" name="answers[27]" value="0" />
                                  <input type="radio" name="answers[27]" id="question-28-answers-A" value="1" />
                                  <label for="question-28-answers-A">Never</label>
                             
                              <br>
                              
                                  <input type="radio" name="answers[27]" id="question-28-answers-B" value="2" />
                                  <label for="question-28-answers-B">Seldom</label>
                              
                              <br>
                       
                                  <input type="radio" name="answers[27]" id="question-28-answers-C" value="3" />
                                  <label for="question-28-answers-C">Often</label>
                              
                              <br>
                           
                                  <input type="radio" name="answers[27]" id="question-28-answers-D" value="4" />
                                  <label for="question-28-answers-D">Always</label>
                           
                          
                          </li>
                       </ol>
                       <br>
                       <center>
                        
                        <i style="color:red;">Notice! Please be aware that comment box below won't allow any bad words. Thank you!</i>
                        
                    <br><br>
                        
                            <textarea class="commntbox" name="comment" rows="10" cols="80"></textarea>

                        </center>
                        
                    <br>
                      

                       <ul class="pager" style="height:50px;">
                     
                           <li><a href="<?php echo base_url(); ?>evaluation/start?type=student&uid=<?php echo $uid ?>&step=2">Previous</a></li>

                           <input type="submit" value="Submit" class="nxtOpStyle">

                      </ul>
        </form>
        </div><!--ends form_holder_f2-->
