
<div class="form_holder"> <!--starts form_holder-->
        	<div class="welcome_divider"> <!--starts welcome_divider-->
            	<h5>Faculty Evaluation</h5>
            </div><!--ends welcome_divider-->
            
            
               
            <div class="fill_up_title"><h3>Please fill up the following below</h3></div>
         
                  	<form action="<?php echo base_url() ?>evaluation/process" method="post">
                        <input type="hidden" name="uid" value="<?php echo $uid ?>" >
                        <input type="hidden" name="currentStep" value="1" >
                <div class="fill_up_form"> <!--starts fill_up_form-->
                    <label for="nameoffaculty">Select a Faculty Member:</label>
                    <select name="faculty">
                        <option value= "0">--- Choose Faculty ---</option>
                    	<?php foreach($faculties as $faculty): ?>

                            <?php if($faculty->id == $facultyId): ?>
                                <option selected value="<?php echo $faculty->id; ?>"><?php echo $faculty->firstName ?> <?php echo $faculty->lastName?></option>
                            <?php else:  ?>
                                <option value="<?php echo $faculty->id; ?>"><?php echo $faculty->firstName ?> <?php echo $faculty->lastName?></option>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </select>
                    
                    <br />

                    <label for="coursecode_program">Course Code/Program enrolled in:</label>
                     <select name="course">
                    	<option value="0">--- Choose Course ---</option>
                        <?php foreach($course as $c): ?>

                            <?php if($c->id == $courseId): ?>
                                <option selected value="<?echo $c->id; ?>"><?php echo $c->description ?></option>
                            <?php else: ?>

                                <option value="<?echo $c->id; ?>"><?php echo $c->description ?></option>

                            <?php endif; ?>
                        <?php endforeach; ?>
                    </select>
                    <br />

                    

                   <!-- <label for="proctorname">Select a Proctor:</label>
                     <select name="proctor" style="margin-left:223px;">
                    	<option value="0">--- Select One ----</option>
                        <?php foreach($proctors as $proctor): ?>

                            <?php if($proctor->id == $proctorId): ?>

                             <option selected value="<?php echo $proctor->id ?>"><?php echo $proctor->firstName ?></option>

                            <?php else: ?>
                             <option value="<?php echo $proctor->id ?>"><?php echo $proctor->firstName ?></option>

                            <?php endif; ?>

                        <?php endforeach; ?>
                    </select>-->
                    
                    <label for="subjectinput">Subject:</label>
                     <select name="subject">
                        <option value="0">--- Choose Subject ---</option>
                        <?php foreach($subjects as $s): ?>

                            <?php if($s->id == $subjectId): ?>
                                <option selected value="<?echo $s->id; ?>"><?php echo $s->description ?></option>
                            <?php else: ?>

                                <option value="<?echo $s->id; ?>"><?php echo $s->description ?></option>

                            <?php endif; ?>
                        <?php endforeach; ?>
                    </select>
                    <br />

                     
                    <label for="section">Section:</label>
                     <select name="section">
                        <option value="0">--- Choose Section ---</option>
                        <?php foreach($sections as $se): ?>

                            <?php if($se->id == $sectionId): ?>
                                <option selected value="<?echo $se->id; ?>"><?php echo $se->name ?></option>
                            <?php else: ?>

                                <option value="<?echo $se->id; ?>"><?php echo $se->name ?></option>

                            <?php endif; ?>
                        <?php endforeach; ?>
                    </select>
                    <br>

                    <br />
                    <label for="filled_date">Date:</label>
                    <input type="date" name="date" value="<?php if($date){echo $date; }else{ echo date('Y-m-d'); }?>"/>
                	<div class="indbutton_divider"><!--starts indbutton_divider-->
                		<input type="submit" value="Proceed" />
              	    </div><!--ends indbutton_divider-->
                </div><!--ends fill_up_form-->
                
                
            </form>
                </div><!--ends fill_up_form-->
               
            </form>
        </div><!--end form_holder-->